extends layout
<!--the extended layout is like the mother of the general layout that this file will use.
included files however can be placed anywhere and any number of multiple times since they use the layout of the file that has called them.-->

block content
  h1= title
  p Welcome to #{title}
