<!--Special note that this is pug and not jade hence this syntax that I have kept at the top would not work.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/index.css">
    <title> <%= title %></title>
</head>
<body>
    <h1>This is the original title.<br>I'm testing if the ejs is automaticaly detected</h1>
</body>
</html>