<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash test</title>
</head>
<body>
    <div>This is the flash test</div>
    <!-- I'm not sure if it's kept in the messages or the message variable-->
    <%if(locals.message){%>
        <%=message.Test%>
    <%}%>
</body>
</html>