<p>This is the text received</p>
<a href="/api/1">The link</a><!--This link gets appended to the localhost section such that the link now appends this to the localhost port.-->

<form action="/api/addOne" method="post">
    <input type="text" name="name" id="">
    <input type="text" name="class" id="">
    <input type="submit" value="Submit">
</form>